exclude: |
  (?x)^(
    third-party/.*
  )$
repos:
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      # We are specifying "files: ''" so that top-level files are passed to
      # hook. See https://github.com/Lucas-C/pre-commit-hooks/issues/52.
      - id: insert-license
        files: ''
        types_or: [asm, c, header]
        args:
          - --license-filepath=.license-header
          - --comment-style=//
        exclude: |
          (?x)^(
            libs/fdt-helpers/.*
          )$
      - id: insert-license
        files: ''
        types_or: [cmake, python]
        args:
          - --license-filepath=.license-header
          - --comment-style=#
      - id: insert-license
        files: ^.*\.mdb$
        args:
          - --license-filepath=.license-header
          - --comment-style=#
      - id: insert-license
        files: ''
        types: [rst]
        args:
          - --license-filepath=.license-header
          - --comment-style=..
      - id: insert-license
        files: ^.*\.cfg(\.in)?$
        args:
          - --license-filepath=.license-header
          - --comment-style=#
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
      - id: check-yaml
      - id: check-toml
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v20.1.0
    hooks:
      - id: clang-format
        args:
          - --style=file:.clang-format
        exclude: |
          (?x)^(
            libs/asm.h|
            tests/unittest-env.cc
          )$
  - repo: https://github.com/cmake-lint/cmake-lint
    rev: 1.4.3
    hooks:
      - id: cmakelint
        args:
          - --linelength=100
          - --filter=-whitespace/indent
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.0
    hooks:
      - id: yamllint
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: [--quiet, --max-line-length=100]
  - repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.4
    hooks:
      - id: rstcheck
        args: [--ignore-directives=uml, --report-level=warning]
        additional_dependencies: [sphinx]
  - repo: local
    hooks:
      - id: dont-use-underscores
        name: check no underscores in filenames
        entry: <entry command is not used>
        language: fail
        files: .*_.*
        exclude: .*_defconfig
  - repo: https://github.com/bmorcos/pre-commit-hooks-cpp
    rev: 9a5aa38207bf557961110d6a4f7e3a9d352911f9
    hooks:
      - id: cppcheck
        args:
          - --enable=warning
          - --inline-suppr
          - --language=c
          - --language=c++
          - --force
        exclude: |
          (?x)^(
            libs/asm.h
          )$
  - repo: https://review.elvees.com/pre-commit-hooks
    rev: f545d1526c53395be9f24d54a91f82b63b33bede
    hooks:
      - id: check-copyright
      - id: check-copyright
        # without that key check doesn't work
        types_or: []
        files: ^.*\.mdb$
      - id: check-copyright
        types_or: [] # without that key check doesn't work
        files: ^.*\.cfg(\.in)?$
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args:
          - --ignore-words=.codespell.ignore
          - --after-context=0
